body {
    background: url(../images/snowflakes-background4.png);
}
div {
    margin: 2px;
    padding: 4%;
    padding-top: 0%;
}
.profile-image{
    float:right;
    margin-right: 10%;
    width: 200px; 
    border-radius: 50px;

}