body {
  background: url(images/snowflakes-background4.png);
  font-family:'Comic Sans MS';
}
div.main-div {
  margin: 2px;
  padding: 4%;
  padding-top: 0%;
}
.profile-image {
  float: right;
  margin-right: 10%;
  width: 200px;
  border-radius: 50px;
}
.img-middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
.image-left-list {
  
  width: 350px;
}
.img-tag{
    padding-top:20px;
}
@media only screen and (max-width: 400px) {
    .img-middle {
    width: 100%;
  }
  .img-tag
  {
    font-size: small;
  }
  .image-left-list {
    width:100%;
  }
}
